<h3><i class="fas fa-book-reader"></i> StoryBooks</h3>
<div class="section">
    <p class="lead">Create public and private stories from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1" style="margin-top: 5px;">
        <i class="fab fa-google left"></i> Login With Google
    </a>
    <a href="https://github.com/iampavangandhi/Storybooks" class="btn grey darken-3" style="margin-top: 15px;">
        <i class="fab fa-github left"></i> Check Github Repo
    </a>
</div>